@media (max-width: 500px) {
  .match-page .lineups-compare-container {
    @apply max-h-full;
  }
  .lineups-compare-middle {
    @apply pb-1 pt-1;
  }
  .table-header {
    font-size: 10px;
  }
  .lineups-compare-middle-table-stat {
    font-size: 10px;
  }
  table td {
    height: 20px;
  }
  .lineups-compare-middle-table-center-stat {
    font-size: 7px;
  }
  table td {
    height: 20px;
  }
}

.statRow {
  background: linear-gradient(
    90deg,
    rgba(209, 227, 245, 0) 0%,
    rgba(209, 227, 245, 0) 50%,
    rgba(209, 227, 245, 0)
  );
  transition: 0.2s ease;
}

@media (max-width: 500px) {
  .lineups-compare-middle-table-stat {
    font-size: 10px;
  }
  table td {
    height: 20px;
  }
}
