@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 40px;
  min-width: 320px;
  min-height: 100%;
  color: #353535;
  margin: 0;
  background: initial !important;
  background-image: url("public/tetrisbgdim.png") !important;
}

@media (max-width: 500px) {
  body {
    overflow: hidden;
    background-image: none !important;
  }
}
